name: .NET Code Metrics
on: [push]

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4

      - name: Restore dependencies
        # Replace 'YourSubfolder' with your actual folder name
        run: dotnet restore ./Jesse/Sprint2/Sprint.sln

      - name: Run Metrics
        uses: dotnet/code-analysis@v1
        id: metrics
        with:
          # REQUIRED: Path to your solution file from the repo root
          workspace: './Jesse/Sprint2/Sprint.sln' 
          owner: ${{ github.repository_owner }}
          repository: ${{ github.event.repository.name }}
          branch: ${{ github.ref_name }}
          key: ${{ secrets.GITHUB_TOKEN }}
